    <section class="section-1">
      <div class="container text-center text-danger">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="pray">
            {{ content.field_section1_img }}
            </div>
          </div>
          <div class="col-md-6 col-12 col-sm-12">
            <div class="panel text-left text-danger">
              <h1>{{ content.field_section1_h1 }}</h1>
              <p class="pt-4">
                {{ content.field_section1_p1 }}
              </p>
              <p class="text-danger">
               {{ content.field_section1_p2 }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>