
      <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center text-danger">
          <h1>{{ content.field_section2_h1 }}</h1>
          <p>
            {{ content.field_section2_p1 }}
          </p>
        </div>
      </div>
     
    <div class="container-fluid text-center">
    <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
      
     {% for key,value in content.field_section2_h2['#items'] %}
         
        
         <div class="rect"> 
          
           <h1>   {{ content.field_section2_h2[key] }}</h1>
        
  
            <p>  {{ content.field_section2_p2[key] }} </p> 
         
       </div>
          {% endfor %}
           

 </div>
          </div>
</section> 
 

